$color-primary: #000;
$color-secondary: #fff;
$color-tertiary: #777;

@mixin btn-1 {
    border: 2px solid #000;
    color: #fff;
    background: #000;
};

@mixin btn-2 {
    border: 2px solid #000;
    color: #000;
    background: transparent;
};
